# Exclude builds
build

# Assets to ignore (for now)
assets/fonts
assets/sounds
assets/textures

# Third party libraries (for now)
third-party

# Emacs stuff
*~
\#*\#
.\#*
journal.org
.projectile

# Tooling stuff
.clangd
compile_commands.json
linux_lsan_suppressions.supp